* {
    font-family: Oswald, sans-serif;
    color: var(--ipdarkgray);
    margin: 0 1px;
    padding: 0;
}

html {
    height: 100%;
}

.text-left {
    text-align: left;
}

.margintop-1-rem {
    margin-top: 1rem;
}

body {
    background-color: var(--iplightgray);
    width: 95vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

a {
    text-decoration: none;
}

:root {
    --iplightgray: rgba(246, 246, 246, 1);
    --ipmedgray: rgba(232, 232, 232, 1);
    --ipdarkgray: rgba(51, 51, 51, 1);
    --ipred: rgba(185, 5, 4, 1);
    --ipreddark: rgba(153, 1, 0, 1);
    --ipdarkest: rgb(46, 46, 46);
}

.hover:hover {
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 0px 0px 5px 0px var(--ipdarkgray);
    cursor: pointer;

}

.contain {
    margin-inline: auto;
    background-color: var(--iplightgray);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ---FOOTER STYLING --- */

footer {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 1rem 1rem 0rem 1rem;
    min-height: 5rem;
    margin: 1rem auto;
    background-color: var(--ipreddark);
    border-bottom: solid 6px var(--ipdarkgray);
    width: 94%;
    box-shadow: 0px 0px 5px 0px var(--ipdarkgray);

}

.foot {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.foot>p {
    color: var(--iplightgray);
}

.foot>img {
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
}

.foot>a {
    color: var(--iplightgray);
    text-decoration: underline;
}

/* ---END OF FOOTER STYLING --- */
/* ------------------------------------- */
/* --- NAVIGATION STYLING --- */
nav {
    margin-top: 1rem;
}

.navContain {
    height: 5rem;
    border-bottom: 5px solid var(--ipdarkgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--iplightgray);
    margin-bottom: 0.5rem;
}

.navLogo {
    height: 75px;
    margin-left: 1rem;
    border-radius: 5%;
    padding: 0 0.5rem;
}

.navLogo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;
    box-shadow: 1px 1px 5px 1px var(--ipmedgray);
}

.navLinks {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

.navLinks>a>li {
    padding: 0.25rem;
    font-size: 1.3rem;
    text-decoration: none;
    list-style: none;
}

.navLinks>a>li:hover {
    color: var(--ipreddark);
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--ipmedgray);
}

.signUpBtn {
    color: var(--iplightgray);
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--ipred);
    margin-left: 0.5rem;
    padding: 0.25rem 1rem;
    border-color: var(--ipdarkgray);
}

.signUpBtn:hover {
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 0px 0px 5px 0px var(--ipred);
    background-color: var(--ipreddark);
    text-decoration: underline;
}

/* ---END OF NAVIGATION STYLING --- */

.header {
    width: auto;
    text-align: center;
    background-color: var(--ipmedgray);
    margin-bottom: 1rem;
}

.main {
    width: auto;
    align-items: center;
}

.mainHead {
    color: var(--ipdarkgray);
}

.mainHead>strong {
    color: var(--ipred);
    text-shadow: var(--ipdarkgray) 2px 1px 2px;

}

.mainP {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: rgb(185, 5, 4);
    background: radial-gradient(circle, rgba(185, 5, 4, 1) 0%, rgba(51, 51, 51, 1) 67%);
    text-align: left;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-left: auto;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.pcard {
    min-height: 250px;
    text-align: center;
    background-color: var(--iplightgray);
    padding: 1rem;
    color: var(--ipdarkgray);
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 3px 0 var(--ipmedgray);
}

.pcard>img {
    max-width: 250px;
    background-color: var(--ipred);
    box-shadow: 0 0 5px 0 var(--ipdarkgray);
    border-radius: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0.25rem;
}


.standalone>img {
    max-width: 500px;
    margin-bottom: 0;
}

.pcard>h3 {
    color: var(--ipred);
    margin-top: .5rem;
    color: var(--ipred);
    text-transform: uppercase;
    text-shadow: rgb(105, 104, 104) 2px 2px 3px;
}

.pcard>p {
    color: var(--ipdarkgray);
    background-color: var(--iplightgray);
    padding: 1rem;
    text-align: left;
    margin: 0.5rem 0;
    box-shadow: 0 0 3px 0 rgb(135, 134, 134);
    max-height: 150px;
    overflow: hidden;

}

.picHeight {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-height: 175px;
}

.call {
    width: auto;

}

.call {
    display: flex;
}

.cta {
    margin: 1.5rem auto;
    color: var(--iplightgray);
    background-color: var(--ipred);

    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: solid 0.5rem var(--iplightgray);
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.cta:hover {
    font-weight: 900;
    transform: scale(1.2);
    transition: 750ms;
    background-color: var(--iplightgray);
    border-color: var(--ipreddark);
    color: var(--ipdarkgray);
    cursor: pointer;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    background-image: url(../src/images/teambg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 1rem;

}

.leftSchedule {
    background-color: rgba(0, 0, 0, 0.393);
    padding: 1rem;
    backdrop-filter: blur(5px);
    max-width: 70rem;
}

.leftSchedule>* {
    color: var(--iplightgray);

}

.leftSchedule>p {
    font-weight: bold;
    margin-top: 1rem;
}

.formLabel {
    margin-right: 0.2rem;
}

.formSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.inputContain {
    display: grid;
    margin-top: 1rem;
    text-align: left;
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    .formLabel {
        display: none;
    }
}

.titleName {
    visibility: hidden;
}

.registerBtn {
    color: var(--iplightgray);
    background-color: var(--ipred);
    cursor: pointer;
    border-color: var(--ipdarkgray);
    padding: 0.25rem;
    margin-top: 1rem;
    font-size: larger;
}

.aboutOffers {
    text-align: left;
}

.aboutOffers>ul>li {
    list-style: none;
}

.loginContain {
    margin-top: 1.5rem;
    justify-content: center;
    padding-top: 10rem;
    background: rgb(185, 5, 4);
    background: radial-gradient(circle, rgba(185, 5, 4, 1) 0%, rgba(51, 51, 51, 1) 67%);
    display: grid;
    grid-template-columns: 1fr;
    min-height: 80vh;
    box-shadow: 0px 0px 5px 0px var(--ipdarkgray);
}

.login {
    
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.loginDiv {
    display: grid;
    max-height: 1.2rem;
    grid-gap: 1rem;
}

.loginDiv > input {
    text-align: center;
}

.loginDiv > h2 {
    color: var(--iplightgray);
}

.loginDiv > button {
    color: var(--iplightgray);
    border-width: 5px;
    border-radius: .25rem;
    font-size: large;
    border-style: solid;
    border-color: var(--iplightgray);
    background-color: var(--ipred);
}

.loginDiv >button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.login>input {
    max-height: 25px;
}

.loginContain,
img {
    margin-inline: auto;
    margin-bottom: 1rem;
}